files: printbox/
repos:
    - repo: meta
      hooks:
        - id: check-hooks-apply

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
        - id: debug-statements

    - repo: https://github.com/ambv/black
      rev: 21.11b1
      hooks:
          - id: black
            language_version: python3.9
            args: [--line-length=79, --check, ./printbox, ./tests]

    - repo: https://gitlab.com/pycqa/flake8
      rev: 3.9.2
      hooks:
        - id: flake8

    - repo: https://github.com/PyCQA/bandit
      rev: 1.7.1
      hooks:
        - id: bandit
          args: [ -v, -r, ./printbox, ./tests ]

    - repo: local
      hooks:
        - id: pytest-check
          name: pytest-check
          entry: pytest
          language: system
          pass_filenames: false
          always_run: true
